    /* Reset CSS */
html {
    margin: 0px;
    padding: 0px;  
    font-family: "Lato", "Helvetica", sans-serif;
    }
body {
    font-family: "Lato", "Helvetica", sans-serif;
    }
#sitewrapper {
    overflow-x: hidden;
    }

    .navigation {
        padding: 1.0%;
    }

    nav {
        text-align: center;
        font-size: 1em;
    }

    nav img {
        width: 15em;
        height: 6em;
        margin-right: 10%;

    }

    /*Background */
.background { 
    position: relative;
    width: 100%;
    height: 250px;
    background:url("http://i.nextmedia.com.au/News/angry%20computer%20internet%20laptop%20pc%20(Medium).jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: #000;
    padding-bottom: 50%;
    z-index: 2;
    }   
.background-indepth {
    width: 100%;
    background-color: tomato;
    padding: 3%;
    text-align:center;
    color: #FFFFFF;
    }
#mission {
    font-size: 50px;   
    color: #FFFFFF;
    }
#missionstatement, #firststatement {
    color: #FFFFFF;
    }
#firststatement {
    font-size: 50px;
    }
#getstarted {
    color: #FFFFFF;
    display: none;
    font-size: 20px;
    }
/* FADES IN BACKGROUND */
@-webkit-keyframes fadeIn {    
    0% { opacity:0; }
    100% { opacity:1; }
}

@-moz-keyframes fadeIn {    
    0% { opacity:0; }
    100% { opacity:1; }
}

@-o-keyframes fadeIn {    
    0% { opacity:0; }
    100% { opacity:1; }
}

@keyframes fadeIn {    
    0% { opacity:0; }
    100% { opacity:1; }
}
    /* Nav */
.navbar {
        margin: 0px;
        height: 9%;
    }
.menu {
    float: right;
    margin: 1.5% 2%;
    padding: 2%;
    }
#brand {
    display: inline-block;
    height: auto;
    width: 25%;
    text-align: left;
    }
#brand h3 {
    padding: 0px;
    display: inline-block;
    position: absolute;
    top: 22;
    color: darkorange;
    font-weight: 800;
}
#brand h5 {
    padding: 0px;
    display: inline-block;
    position: absolute;
    top: 55;
    font-weight: 300;
    color: black;
}
#logo {
    width: 5em;
    height: 2em;
    float: right;
    margin: 1%;
}


/* Popup Formatting */ 

.black_overlay{
        display: none;
        position: fixed;
        top: 0%;
        left: 0%;
        margin:0px;
        padding-top: 20%;
        width: 100%;
        height: 100%;
        background-color: black;
        z-index:1002;
        -moz-opacity: 0.8;
        opacity:.80;
        filter: alpha(opacity=80);
        -webkit-animation-name: fadeIn;
        animation-name: fadeIn;

    }

.white_content{
        display: none;
        position: absolute;
        margin-top: 50%;
        top: 25%;
        left: 25%;
        width:50%;
        border: 16px solid #F58020;
        background-color: white;
        padding:10px;
        z-index:1003;
        overflow: hidden;
        -webkit-animation-name: fadeIn;
        animation-name: fadeIn;
}

.company_discounts {
        display: none;
        position: fixed;
        top: 10%;
        left: 25%;
        width:50%;
        height: 80%;
        border: 16px solid #4193C2;
        background-color: white;
        padding: 2%;
        z-index:1003;
        overflow: hidden;
        -webkit-animation-name: fadeIn;
        animation-name: fadeIn;
        text-align: center;
}

.white_content_shw {
    display: none;
        position: absolute;
        margin-top: 50%;
        top: 25%;
        left: 25%;
        width:50%;
        border: 16px solid #12459C;
        background-color: white;
        padding:10px;
        z-index:1003;
        overflow: hidden;
        -webkit-animation-name: fadeIn;
        animation-name: fadeIn;
}
#sitewrapper {
    overflow-x: hidden;
    width: 100%;
    height:100%;
    margin:0px;
}
.company-discounts ul {
    margin: 5%;
    font-size: 32px;
    text-align: left;
}

.promolist {
    margin-top: 5%;
    font-size: 32px;
    text-align: left;
}

#club_benefits {
    font-size: 70%;
}

.quote {
    text-align: center;
    padding: 5%;
    background-color: red;
    border-radius: 10%;
    font-size: 120%;
    color: #fff;
    font-weight: bold;
    float: none;
    clear: both;
}

button.promo.quote.hvr-grow {
    margin: 0% auto;
    width: 30%;
    border: none;
    border-radius: 0%;
    padding: 3%;
    font-weight: bold;
}
    /* Comparison Formatting*/
.colrow {
    background-color: #FFFFFF;
    margin-top: 10%;
    padding-bottom: 3%;
    text-align: center
    }
.colrow img {
    max-width: 100%;
    height: auto;
    margin: 0px auto;  
    }
.company-logo {
    height: 150px;
}
#choice, #select, #delta, #homeserviceclub, #totalprotect, #firstam {
    margin-top: 15%;
}

#choice, #select, #delta, #homeserviceclub, #totalprotect, #firstam img {
    margin-top: 17%;
}

.promo_logo {
    width: 220px;
    height: 82px;
    margin: 0 auto;

}

.colrow li {
    padding: 5%;
    font-size: 16px;
}
.colrow li:nth-child(odd) {
    background-color: lightblue;
}
.colrow li:nth-child(even) {
    background-color: beige
}
 .colrow ul {
    list-style-type: none;
    text-align: left;
    padding: 0px;
    margin-top: 2.5%;
    }
.quote {
    text-align: center;
    padding: 5%;
    background-color: red;
    border-radius: 10%;
    font-size: 120%;
    color: beige;
    float: none;
}
.ribbon {
    width: 175px;
    height: 50px;
    background-color: red;
    color: white;
    position: absolute;
    top: -30px;
    left: 0px;
    font-weight: 900;
    text-align: left;
    font-size: 15px;
    border: none;
    border-left: 3px solid black;
  -moz-box-shadow:    3px 3px 10px 6px #ccc;
  -webkit-box-shadow: 3px 3px 10px 6px #ccc;
  box-shadow:         20px 15px 10px 0px #ccc;
}
.endtop {
    position: absolute;
    top: -30px;
    left: 175px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0px 0 40px 34px;
    border-color: transparent transparent transparent red;  
}
.endbottom {
    position: absolute;
    top: -20px;
    left: 175px;
    border-style: solid;
    border-width: 40px 0 0px 34px;
    border-color: transparent transparent transparent red; 
}
#x {
    font-size: 200%;
    width: 50px;
    text-align: center;
    height: 50px;
    margin: 0px;
    float: right;
}
img.bbb {
    max-width: 100%;
    height: auto;
    margin: 10% auto;
}
img.consumeraffair {
    max-width: 100%;
    height: auto;
    margin: auto;
    margin-left: 25%;
}
.reviewholder {
    height: 25%;
}
.reviewholder h4 {
    font-size: 90%;
    color: #337ab7;
}
li h4 {
    margin: 0px;
    font-weight: 900;
    text-align: center;
    padding-bottom: 2%;
}
a, a:hover {
    text-decoration: none;
}

/* IN DEPTH PAGE FORMATTING */
#disclaimer {
    font-size: 25px;
}
/* ARTICLE PAGE FORMATTING */
article h3 {
    padding-bottom: 10%;
}

.blockquote {
    padding-left:20px;
    display: block;
}

.article-img {
    width: 520px;
    height: 333px;
}
article {
    padding: 10%;
}
.contentbox {
    width: 100%;
    height: 250px;
}
iframe {
    margin: 5% 0%;
}
.info {
    background-color: #f5f5dc;
}
.video {
    text-align: center;
    background-color: #add8e6;
}
.article-content {
    font-size: 18px;
}
.article-title {
    font-size: 50px;
}

/* Review Page Formatting */ 

.review_heading{
    text-align: center;
    margin:2% auto;

}
.review_box{
    width: 75%;
    margin: 0 auto;
    padding: 3%;
    background: #E5E5E5;
    text-align: center;
}

.author_box{
    border: 3px solid #E5E5E5;
    width: 75%;
    margin: 0 auto;
    padding: 4%;
}

.author_img{
    width: 120px;
    height: 90px;
    float: left;
    margin-bottom: 1%;
}

.author_box li p {
    float: right;
}


/* Bottom Content */
.bottomreading {
    font-size: 20px;
    padding: 50px;
}
.bottomreading h1 {
    font-size: 50px;
}
/* Footer Formatting */
.footer {
    width: 100%;
    height: 125px;
    background-color: tomato;
    margin-top: 5%;
    color: #FFFFFF;
    text-align: center;
    padding-top: 2%;
}
.footerlinks li {
    display: inline-block;
    text-align: center;
    margin: 0px 2%;
    color: #FFFFFF;
    font-size: 25px;    
    display: none;
    }
    .footer h6 {
    font-size: 20px;
    text-align: center;
}
.col-xs-6 {
    display: none;
}
#mission, #missionstatement, #firststatement {
    -webkit-animation: fadeIn 1s linear 1; /* Safari & Chrome */
    -moz-animation: fadeIn 1s linear 1; /* Firefox */
    -o-animation: fadeIn 1s linear 1;  /* Opera */
    animation: fadeIn 1s linear 1;
}
/* Mobile Formatting */
    @media screen and (max-width: 670px) {
        .background {
        position: relative;
        width: 100%;
        height: 520px;
        background:url("http://i.nextmedia.com.au/News/angry%20computer%20internet%20laptop%20pc%20(Medium).jpg");
        background-repeat: no-repeat;
        background-size: cover;
        text-align: center;
        color: #000;
        padding-bottom: 50%;
    }
        #mission {
        margin-top: 0px;
        font-size: 300%;   
        color: #FFFFFF;
    }
        #missionstatement {
            font-size: 90%;
        }
        #firststatement {
            font-size: 100%;
            color: white; 
    }
        #secondstatement {
            font-size: 100%;
        }
        .col-md-3 {
            border: none;
            padding: 10px;
            display: none;
        }

        #chw-mobile-logo {
            margin-top: 0%;
            margin-bottom: 10%;
        }

        #tp-mobile-logo {
            margin-top: -6%;
            margin-bottom: 5.9%;
        }

        #hsc-mobile-logo {
            margin-top: -19.5%;
        }

        #fa-mobile-logo {
            margin-top: -7%;
            margin-bottom: 7%;
        }

        #ahs-mobile-logo {
            margin-bottom: 0.1%;
            margin-left: 4%;
        }

        #ahs-mobile-col {
            margin-top: 0%;
            margin-left: 0%;
            margin-top: 14%;
        }

        #dhp-mobile-logo {
            margin-bottom: 5%;
        }
        #dhp-mobile-col {
            margin-top: 26%;
        }
        #firstam-mobile-col {
            margin-top: 19%;
        }

        .col-xs-6 {
            padding: 4px;
            font-size: 85%;
            display:block;
        }
        .col-xs-6 li {
            font-size: 90%;
        }
        .ribbon {
            width: 100px;
            height: 15px;
            background-color: red;
            color: white;
            position: absolute;
            top: 0px;
            left: 0px;
            font-weight: 900;
            text-align: left;
            border-left: 2px solid black;
            padding: 0px;
            font-size: 10px;
        }
        span.ribbon.mobile {
            font-size: 70%;
        }
        .endtop {
            position: absolute;
            top: 0px;
            left: 100px;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0px 0 16px 25px;
            border-color: transparent transparent transparent red;   
        }
        .endbottom {
            position: absolute;
            left: 100px;
            top: 0px;
            border-style: solid;
            border-width: 15px 0 0px 25px;
            border-color: transparent transparent transparent red; 
        }
        .col-xs-6 img {
            padding: 20%;
        }
        .colrow img {
            width: 100%;
            height: 25%;         
        }
        .company-logo {
            height: 17%;
            padding: 0px;
            margin: 0px;
        }
        nav a {
            margin: 0px;
            padding: 0px;
            width: 15%;  
            font-size: 75%;
        }
        nav img {
            margin: 0px;
        }
        .company-logo img {
            height: auto;
            margin-left: auto;
            margin-right: auto;
            padding: 0px;   
        }
        .company-logo.totalprotect {
            margin-top: 23%;
            height: 14.5%;
        }
        .company-logo.select {
            margin-top: 12%;
            height: 14.5%
        }
        .company-logo.choice {
            margin-top: 12%;
        }
        .company-logo.homeserviceclub {
            margin-top: 9%;
            height: 14.5%;
        }
        #brand h3 {
            font-size: 75%;
            margin: 5px 0 0 0;
        }
        #brand h5 {
            font-size: 75%;
            margin: 0;
            position: absolute;
            top: 38;
        }
        img.bbb {
            width: 100%;
            height: 50%;
            margin: 8% auto;
            padding: 0px;
        }
        img.rating {
            width: 20%;
            height: 10%;
            padding: 2%;
        }
        img.consumeraffair {
            width: 50%;
            height: 75%;
            margin-left: 25%;
            padding: 0%;
            font-size: 50%;
            display: inline-block;
        }
        li.reviewholder {
            height: 125px;
        }
        .reviewholder h4 {  
            font-size: 90%
        }
        iframe {
            width: 95%
        }
        .bottomreading {
            font-size: 90%;
        }
        .bottomreading h1 {
            font-size: 24px;
        }
.article-img {
        width: 95%;
    }
        
    }
    
    /* FOR SOME REASON IPAD LOOKS LIKE SHIT SO HERE WE GO */
    @media only screen 
    and (min-device-width : 768px) 
    and (max-device-width : 1024px)  { 
        .background {
        position: relative;
        width: 100%;
        height: 520px;
        background:url("http://i.nextmedia.com.au/News/angry%20computer%20internet%20laptop%20pc%20(Medium).jpg");
        background-repeat: no-repeat;
        background-size: cover;
        text-align: center;
        color: #000;
        padding-bottom: 50%;
    }
        #mission {
        margin-top: 0px;
        font-size: 300%;   
        color: #FFFFFF;
    }
        #missionstatement {
            font-size: 80%;
        }
        #firststatement {
            font-size: 100%;
            color: white; 
    }
        #secondstatement {
            font-size: 100%;
        }
        .col-md-3 {
            border: none;
            padding: 10px;
            display: none;
        }

         .col-md-3 li {
            text-align: center;
         }


        .col-xs-6 {
            padding: 4px;
            font-size: 85%;
            display: block;
        }
        .col-xs-6 li {
            font-size: 200%;
        }
        .ribbon {
            width: 150px;
            height: 25px;
            background-color: red;
            color: white;
            position: absolute;
            top: 0px;
            left: 0px;
            font-weight: 900;
            text-align: left;
            border-left: 2px solid black;
            padding: 0px;
            font-size: 10px;
        }
        .endtop {
            position: absolute;
            top: 0px;
            left: 150px;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0px 0 24px 25px;
            border-color: transparent transparent transparent red;   
        }
        .endbottom {
            position: absolute;
            left: 150px;
            top: 0px;
            border-style: solid;
            border-width: 25px 0 0px 25px;
            border-color: transparent transparent transparent red; 
        }
        .col-xs-6 img {
            padding: 20%;
        }
        .colrow img {
            width: 100%;
            height: 25%;         
        }
        #target {
            position: absolute;
            bottom: 0px;
        }
        #navbar {
            display: inline-block;
            width: 100%;
        }
        .menu {
            margin: 7% 1%;
            margin-left: 0%;
            padding: 0px;
            font-size: 65%;
        }
        #brand {
            height: 50%;
            width: 25%;
            display: inline;
        }
        .company-logo {
            height: 20%;
            padding: 0px;
            margin: 0px;
        }
        .company-logo img {
            height: auto;
            margin-left: auto;
            margin-right: auto;
            padding: 0px;   
        }
        .company-logo.totalprotect {
            margin-top: 10%;
            height: 16.5%;
        }
        .company-logo.select {
            margin-top: 10%;
            height: 16.5%
        }
        img.company-logo.homeserviceclub {
            margin-top: 10%;
            height: 16.5%
        }
        img.company-logo.choice {
            margin-top: 10%;
            height: 16.5%
        }
        #brand h3 {
            font-size: 75%;
            margin: 5px 0 0 0;
        }
        #brand h5 {
            font-size: 75%;
            margin: 0;
            position: absolute;
            top: 38;
        }
        img.bbb {
            width: 75%;
            height: auto;
            margin: 0px;
            margin-left: 10%;
            margin-right: auto;
            padding: 0px;
        }
        img.consumeraffair {
            max-width: 25%;
            height: auto;
            margin: 0px;
            margin-left: 35%;
            margin-right: auto; 
            padding: 0%;
        }
        .reviewholder h4 {  
            font-size: 90%; 
        }
        iframe {
            width: 95%
        }
        .bottomreading {
            font-size: 90%;
        }
        .bottomreading h1 {
            font-size: 24px;
        }
    }

    .promo_logo {
        width: 50%;
        height: 18%;
    }
